<main class="content">
  <header class="intro-header" style="background-image: url('https://static.pexels.com/photos/1139/black-and-white-city-skyline-buildings.jpg')">
      <div class="header-container">
        <div class="row">
          <h1> Coloque seus projetos em Prática!</h1>
          <h3>Aprenda marketing digital e progração de uma forma que você pode começar a aplicar ainda hoje!</h3>
      </div>
    </div>
  </header>
  <div class="clearfix"></div>
  <section id="index-subheader">
    <div class="col-md-6 col-xs-12 index-subheader-left">
      <div class="half-container">
        <h2> Marketing Digital </h2>
        <p> Aprenda sobre ferramentas e habilidades essenciais para começar no marketing digital. Desde o comecinho mesmo! </p>
        <ul>
          <li> Criar um website </li>
          <li> Rankear seu site no Google </li>
          <li> Comprar Mídia Digital </li>
          <li> Realizar Pesquisas de Mercado </li>
          <li> Leitura de dados e otimização </li>
          <li> Analytics e Estatística </li>
          <li> Taggeamento</li>
          <li> e mais.... </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 index-subheader-right">
      <div class="half-container">
        <h2> Quem sou eu? </h2>
        <p> Eu sou o Bruno, um cara que cansou de aprender da forma padrão e decidiu ir a fundo em alguns assuntos para ensinar os outros, de forma gratuíta. Afinal o conhecimento é de todos, não. </p>
        <p> Além disso, sou Youtuber no Escolha Segura e trabalho com marketing digital nos projetos TattooFinder e Nutr </p>
        <ul>
          <li> Estatística </li>
          <li> Pesquisa de Mercado</li>
          <li> Normalização de bancos de dados </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="index-courses">
    <div class="container">
      <h1 style="text-align: center; margin-bottom: 40px; font-size: 3.5em;"> CURSOS </h1>
          <% @cursos.in_groups_of(3) do |group| %>
          <div class="row">
          <% group.each do |curso| %>
            <% if curso %>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="panel panel-default index-panel">
                      <!--<%= image_tag(curso.icon, class:'circleimgindex center') %>-->
                    <%= link_to curso do %>
                    <h3 class="course-title"><%= curso.name %></h3>
                    <% end %>
                    <p class="index-course-content"><%= truncate(curso.content, :length => 110) %></p>
                    <hr>
                    <div class="row">
                      <div class="col-xs-6 center">
                        <b><%= curso.aulas.sum(:time)/360 %>h</b> de curso
                      </div>
                      <div class="col-xs-6 center">
                        <b><%= curso.users.count %></b> Inscritos
                      </div>
                    </div>
                    <%= button_to "ACESSE AGORA!", curso, class:"btn btn-highlight", method: :get %>
                  <% end %>
                  </div>
                </div>
            <% end %>
           </div>
          <% end %>
          </div>
      </div>
  </div>
-->
</main>
