<p id="notice"><%= notice %></p>

<div class="jumbotron" id="showjumbotron" style="background-color:<%= @curso.color %>;">
    <div class="container">
        <div class="col-sm-8">
            <h1><%= @curso.name %></h1>
            <p><%= @curso.content %></p>
            <h6>Público Alvo: qualquer pessoa que deseja aprender excel e que não tem conhecimento do software;</h6>
            <h6>Requerimentos: Nenhum</h6>
        </div>
        <div class="col-sm-4 showicon"><%= image_tag(@curso.icon) %></div>
    </div>
</div>
<div id="showdiv">
    <div class="col-md-9 showcontent">
        <div class="container" style="width:700px; content-align:center;">
            <div class="list-group">
                <% @aulas.each do |aula| %>
                <% if aula.section_header == true %>
                <a class="list-group-item active"> 
                    <%= aula.title %></a>
                <% else %>
                <%= link_to aula.title, [aula.curso, aula], :class => "list-group-item" %>
                <% end %>
                <% end %> 
            </div>
        </div>
    </div>

<div class="col-md-3 sidebar center">

    
    <h2 class="numbershow"><% onlyaula = @aulas.where(:section_header => false) %><%= onlyaula.count %></h2>
    <h3 class="textshow">Número de Aulas</h3>
    
    <h2 class="numbershow"><%= @aulas.sum(:time)/60 %></h2> 
    <h3 class="textshow">Minutos de Aula!</h3>
    
    <h2 class="numbershow"><%= @aulas.sum(:point) %></h2>
    <h3 class="textshow">Pontos Total</h3>
    
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
        <span class="sr-only">20% Complete</span>
        </div>
    </div>
    
    <div class="row">
            <div class="col-md-6 downloadsidebar">
                <h1 class="glyphicon glyphicon-download" style="color:white;"></h1>
                <p style="color:white;">DOWNLOADS</p>
            </div>
        <div class="col-md-6 discussionsidebar">
            <h1 class="glyphicon glyphicon-cd" style="color:white;"></h1>    
            <p>DISCUSSÃO</p>
        </div>
        </div>
    
    <div class="cursoreviews">
         <div class="cursoreviewtop"> REVIEWS </div>
         <%= render 'reviews/form' if @joined && !@hasReview %>
         <%= render 'reviews/index' %>
    </div>
    
    <span><%= @curso.average_rating %> <%= @reviews.count >1? "Reviews" : "Review" %> </span>
    
    <button>Teste!!</button>
        <% if !@joined %>
        <h3><%= @curso.price == 0? "Grátis" : "R$#{@curso.price}" %></h1>   
        <% if user_signed_in? %>
            <%= form_tag gratis_path do %>
                <%= hidden_field_tag 'curso_id', @curso.id %> 
                <button type="submit" class="btn btn-primary">Comprar este Curso</button>
            <% end %>
        <% else %>
            <%= link_to new_user_session_path do %>
            <button type="submit" class="btn btn-primary">Faça Login para acessar!</button>
            <% end %>
        <% end %>
    
     
    </div>
</div>
<% end %> 
<%= link_to 'Back', cursos_path %>  