
  <header class="intro-header show-aula-header" style="background-image: url('https://static.pexels.com/photos/1139/black-and-white-city-skyline-buildings.jpg')">
      <div class="header-container">
        <div class="row">
          <h1><%= @aula.title %></h1>
          <h4 class="col-md-6 col-md-offset-3" style="margin-top: 20px;"> Aprenda marketing digital e programação de uma forma que você pode começar a aplicar ainda hoje!</h4>
      </div>
    </div>
  </header>
  <section id="show-aula-content">
    <div class="content">
    <%= render file: "/aulas-html/#{@aula.content}" %>
    </div>
  </section>
  <section id="show-aula-comments">
    <div class="content content-container">
      <div class="row">
        <div class="col-md-5 lesson-btn prev-btn">
          <% if !@prev_aula.nil? %>
            <%= link_to(raw("<h5>Aula Anterior</h5> <p><small>#{@prev_aula.title}</small></p>"), [@prev_aula.curso, @prev_aula] , class:"btn btn-highlight") %>
          <% end %>
        </div>
        <div class="col-md-offset-2 col-md-5 lesson-btn next-btn">
          <% if !@next_aula.nil? %>
            <% if user_signed_in? %>

              <% ViewedLesson.create(user_id: current_user.id, aula_id: @aula.id, completed: true) %>
            <% end %>
            <%= link_to(raw("<h5>Próxima Aula</h5> <p><small>#{@next_aula.title}</small></p>"), [@next_aula.curso, @next_aula], class:"btn btn-highlight") %>
          <% end %>
        </div>
      </div>
    <hr class="centered-hr" style="margin-top:75px;">
      <%= render 'shared/disqus' %>
    <hr class="centered-hr">
  </div>
</div>
  </section>
