<div class="padding">

  <small>J치 fez um pouco do curso? Deixe sua nota e coment치rio!!
  Isso ajuda a continuarmos melhorando.</small>
  </br>
  </br>
  <%= form_for([@curso, @review]) do |f| %>

  <div class="input-group">
    <%= f.label :Nota, class:"input-group-addon" %>
    <%= f.number_field :star, in: 1..10, step:1, class:"form-control" %></p>
  </div>
  </br>
  <div class="input-group">
    <%= f.label :Coment치rio, class:"input-group-addon" %>
    <%= f.text_area :comment, class:"form-control" %>
  </div>

  <%= f.hidden_field :curso_id, :value => @curso.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <buttons>
      <%= f.submit "Enviar Coment치rio", class:"btn btn-highlight" %>
  </button>
  <% end %>
</div>
