<%= form_for([@curso, @review]) do |f| %>
<p>Nota:<%= f.text_field :star, class:"form-control greatmargin" %></p>
<p>Comentário: <%= f.text_field :comment, class:"form-control greatmargin" %></p>

<%= f.hidden_field :curso_id, :value => @curso.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<button class="btn btn-primary" style="color:black;">
    <%= f.submit %> 
</button>
<% end %> 

