<% if @reviews.blank? %>
<span class="center"> Este curso ainda não tem nenhuma avaliação!</span>
<% else %>
<% @reviews.order("id desc").each do |f| %>

<div class="reviewbox">
    <div class="col-md-9">
        <strong><%= f.user.name %>(<%= f.star %>)</strong>
        <p><small>"<%= f.comment %>"</small></p>
    </div>
    
    <div class="col-md-3">
        <%= image_tag (f.user.image), alt: "", class:"cursoinsc" %>
    </div>
        <%= link_to "Remover", [@curso, f], method: :delete, data: {confirm: "Você tem certeza que quer apagar este comentário?"} if current_user && current_user.id == f.user.id %>
    <hr> 
</div>
<% end %> 
<% end %>