<% if @reviews.blank? %>
<span class="center">Este curso ainda não tem nenhuma avaliação!</span>

<% @reviews.order("id DESC").each do |f| %>
<hr>
<div class="row">
    <strong><%= r.user.name %></strong>
    <span class="right"><%= r.create_at %></span>
    <div><%= r.star %></div>
    <div><%= r.comment %></div>
    <div>
        <%= link_to "Remover", [@curso, r], method: :delete, data: {confirm: "Você tem certeza que quer apagar este comentário?"} if current_user && current_user.id == r.user.id %>
    </div>
</div>

<% end %>
<% end %>