<!DOCTYPE html>
<html>
    <head>
      <title>Stud</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet">

      <%= yield :head %>

    </head>
    <%= render partial: 'shared/header' %>

    <body>
        <%= yield %>
    </body>

    <footer class="col-md-12" id="footer">
        <%= render partial: 'shared/footer' %>
    </footer>

</html>
